{% extends 'account/email/email_template_base.html' %}
{% load i18n %}
{% block message_body %}
    {% if password %}
        <div class="header">Welcome to The Link!</div>
    {% else %}
        <div class="header">Reset your password for The Link.</div>
    {% endif %}
    
    <p>Hi {{ user.first_name }} {{ user.last_name }},
      {% if password %}
          your account has been successfully created by the admin.
      {% endif %}
    </p>
    
    {% if password %}
    <div class="password-box">
      <p class="password">Default Password: {{ password }}</p>
    </div>
    {% endif %}
    
    <p>
      {% if password %}
          To ensure the security of your account, please reset your default
          password using this <a class="link" href="{{ password_reset_url }}">link</a>.
      {% else %}
          You can reset your password using this <a class="link" href="{{ password_reset_url }}">link</a>.
      {% endif %}
    </p>
    
    <p>For security reasons, this link will expire in 30 minutes.</p>
    <p>
      If you encounter any issues, please contact us at
      <a class="link" href="mailto:support@thelink.ai">support@thelink.ai</a>
    </p>

    <div class="footer">
      Please do not reply to this email. For any queries, contact us directly.
    </div>
{% endblock %}
