boto3
channels
channels_redis
docutils
Django
django-allauth[socialaccount,mfa]
django-otp  # this is required for the allauth two-factor migration, but can be removed after that
django-waffle
psycopg2-binary
django-environ
djangorestframework
djangorestframework-api-key
djangorestframework-simplejwt
dj-database-url
dj-rest-auth==7.0.1
django-cors-headers
django-health-check
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
django-hijack
celery-progress
celery
celery[redis]
django-celery-beat
mysql-connector-python
sentry-sdk
whitenoise
drf-writable-nested
openpyxl
pillow
gunicorn
langchain
langchain-openai
langchain-pinecone
langchain-community
langgraph
promptlayer
PyMuPDF==1.24.4